<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head lang="en">
		<meta charset="UTF-8">
		<title>学生宿舍管理系统</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="alternate icon" type="image/png" href="/static/img/favicon.png">
		<link rel="stylesheet" href="/static/css/amazeui.min.css" />
		<style type="text/css">
			#touxiang {
				margin-right: 6px;
			}
		</style>
	</head>

	<body>
		<header class="am-topbar am-topbar-fixed-top">
			<div class="am-container">
				<!--<img class="am-topbar-left" src="assets/i/favicon.png"/>-->
				<p class="am-topbar-brand am-text-lg">
					<img id="touxiang" class="" src="/static/img/boy.png" style="width: 32px;height: 32px;" />
					<a href="#">我的资料</a>
				</p>

				<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only" data-am-collapse="{target: '#collapse-head'}">
					<span class="am-sr-only">导航切换</span>
					<span class="am-icon-bars"></span>
				</button>
				<div class="am-collapse am-topbar-collapse" id="collapse-head">
					<ul class="am-nav am-nav-pills am-topbar-nav">
						<li>
							<a href="/">概览信息</a>
						</li>
						<li class="am-dropdown" data-am-dropdown>
							<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
								请假管理<span class="am-icon-caret-down"></span>
							</a>
							<ul class="am-dropdown-content">
								<li>
									<a href="/leave">请假记录</a>
								</li>
								<li>
									<a href="/mobile/leaveAdd">申请假条</a>
								</li>
							</ul>
						</li>
						<li class="am-dropdown" data-am-dropdown>
							<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
								访客管理 <span class="am-icon-caret-down"></span>
							</a>
							<ul class="am-dropdown-content">
								<!--<li class="am-dropdown-header">标题</li>-->
								<li>
									<a href="/visitor">访客列表</a>
								</li>
								<!-- <li>
									<a href="/mobile/visitorInside">校内访客录入</a>
								</li> -->
								<li>
									<a href="/mobile/visitorOutside">访客录入</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="/mobile/query">记录查询</a>
						</li>
						<li>
							<a href="/mobile/dormManage">住宿管理</a>
						</li>
						<li>
							<a href="/mobile/myInfo">我的资料</a>
						</li>
						<li>
							<a href="/mobile/changePwd">修改密码</a>
						</li>
						<li>
							<a href="/mobile/about">关于</a>
						</li>
					</ul>
					<div class="am-topbar-right">
						<button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-arrow-circle-right"></span> 退出登录</button>
					</div>
				</div>
			</div>
		</header>
		<div class="am-container">
			<table class="am-table">
				<thead>
					<tr>
						<th th:text="${result.name}"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>学号：</td>
						<td th:text="${result.uid}"></td>
					</tr>
					<tr>
						<td>性别：</td>
						<td th:text="${result.sex}"></td>
					</tr>
					<tr>
						<td>专业：</td>
						<td th:switch="${result.majorid}">
							<span th:case=6>网络工程</span>
						</td>
					</tr>
					<tr>
						<td>学院：</td>
						<td th:switch="${result.collage}">
							<span th:case=4>信息工程学院</span>
						</td>
					</tr>
					<!-- <tr>
						<td>寝室：</td>
						<td>19#511</td>
					</tr> -->
					<tr>
						<td>手机号：</td>
						<td th:text="${result.phone}"></td>
					</tr>
					<!-- <tr>
						<td>邮箱：</td>
						<td>1234567890@123.com</td>
					</tr> -->
				</tbody>
			</table>
		</div>

		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script src="/static/js/amazeui.min.js"></script>

	</body>

</html>